.fcontainer{
display: flex;
border: solid gray;
height: 45vh;
/* justify-content: center; */
/* justify-content: flex-end; */
/* justify-content: start; */
/* align-items: center; */
/* align-items: flex-end; */
/* align-items: flex-start; */
flex-wrap: wrap;
}
.fitem{
  background-color: aqua;
  border: 2px solid black;
  margin: 2px;
  height: 122px;
  width: 120px;
}